In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/wtitze/3E/main/EntriesGender.xlsx"
athlets = pd.read_excel(url)

athlets

               Discipline  Female  Male  Total
0          3x3 Basketball      32    32     64
1                 Archery      64    64    128
2     Artistic Gymnastics      98    98    196
3       Artistic Swimming     105     0    105
4               Athletics     969  1072   2041
5               Badminton      86    87    173
6       Baseball/Softball      90   144    234
7              Basketball     144   144    288
8        Beach Volleyball      48    48     96
9                  Boxing     102   187    289
10           Canoe Slalom      41    41     82
11           Canoe Sprint     123   126    249
12  Cycling BMX Freestyle      10     9     19
13     Cycling BMX Racing      24    24     48
14  Cycling Mountain Bike      38    38     76
15           Cycling Road      70   131    201
16          Cycling Track      90    99    189
17                 Diving      72    71    143
18             Equestrian      73   125    198
19                Fencing     107   108    215
20               Football     264   344    608
21                   Golf      60    60    120
22               Handball     168   168    336
23                 Hockey     192   192    384
24                   Judo     192   201    393
25                 Karate      40    42     82
26      Marathon Swimming      25    25     50
27      Modern Pentathlon      36    36     72
28    Rhythmic Gymnastics      96     0     96
29                 Rowing     257   265    522
30           Rugby Sevens     146   151    297
31                Sailing     175   175    350
32               Shooting     178   178    356
33          Skateboarding      40    40     80
34         Sport Climbing      20    20     40
35                Surfing      20    20     40
36               Swimming     361   418    779
37           Table Tennis      86    86    172
38              Taekwondo      65    65    130
39                 Tennis      94    97    191
40  Trampoline Gymnastics      16    16     32
41              Triathlon      55    55    110
42             Volleyball     144   144    288
43             Water Polo     122   146    268
44          Weightlifting      98    99    197
45              Wrestling      96   193    289

1.Visualizzare il numero di atleti maschi del nuoto

In [ ]:
athlets.loc[athlets["Discipline"]=="Swimming", ["Male"]]

2. Visualizzare le discipline con meno di 100 atleti donne

In [ ]:
athlets.loc[athlets["Female"] < 100, ["Discipline"]]

3. Aggiungere una colonna contenente il numero totale di atleti di ogni disciplina. Chiamare la colonna “Total”

In [4]:
athlets["Total"] = athlets["Female"] + athlets["Male"]
athlets

               Discipline  Female  Male  Total
0          3x3 Basketball      32    32     64
1                 Archery      64    64    128
2     Artistic Gymnastics      98    98    196
3       Artistic Swimming     105     0    105
4               Athletics     969  1072   2041
5               Badminton      86    87    173
6       Baseball/Softball      90   144    234
7              Basketball     144   144    288
8        Beach Volleyball      48    48     96
9                  Boxing     102   187    289
10           Canoe Slalom      41    41     82
11           Canoe Sprint     123   126    249
12  Cycling BMX Freestyle      10     9     19
13     Cycling BMX Racing      24    24     48
14  Cycling Mountain Bike      38    38     76
15           Cycling Road      70   131    201
16          Cycling Track      90    99    189
17                 Diving      72    71    143
18             Equestrian      73   125    198
19                Fencing     107   108    215
20               Football     264   344    608
21                   Golf      60    60    120
22               Handball     168   168    336
23                 Hockey     192   192    384
24                   Judo     192   201    393
25                 Karate      40    42     82
26      Marathon Swimming      25    25     50
27      Modern Pentathlon      36    36     72
28    Rhythmic Gymnastics      96     0     96
29                 Rowing     257   265    522
30           Rugby Sevens     146   151    297
31                Sailing     175   175    350
32               Shooting     178   178    356
33          Skateboarding      40    40     80
34         Sport Climbing      20    20     40
35                Surfing      20    20     40
36               Swimming     361   418    779
37           Table Tennis      86    86    172
38              Taekwondo      65    65    130
39                 Tennis      94    97    191
40  Trampoline Gymnastics      16    16     32
41              Triathlon      55    55    110
42             Volleyball     144   144    288
43             Water Polo     122   146    268
44          Weightlifting      98    99    197
45              Wrestling      96   193    289

4. Visualizzare la disciplina che ha più atleti (in totale)

In [3]:
athlets.loc[athlets["Total"] == athlets["Total"].max(), ["Discipline"]]

  Discipline
4  Athletics

5.Visualizzare il numero totale di atleti

In [ ]:
athlets["Total"].sum()

6. Aggiungere una colonna contenente la percentuale di atleti di ogni disciplina rispetto al totale. Chiamare la colonna “Percentuale”

In [5]:
url = "https://raw.githubusercontent.com/wtitze/3E/main/Coaches.xlsx"
coaches = pd.read_excel(url)

coaches

                       Name  ...  Event
0           ABDELMAGID Wael  ...    NaN
1                 ABE Junya  ...    NaN
2             ABE Katsuhiko  ...    NaN
3              ADAMA Cherif  ...    NaN
4                AGEBA Yuya  ...    NaN
..                      ...  ...    ...
389  ZAMORA PEDREIRA Javier  ...    NaN
390      ZAMPIERI Francesca  ...   Duet
391          ZHANG Xiaohuan  ...    NaN
392              ZIJP Simon  ...    NaN
393           ZONDI Nkuliso  ...  Women

[394 rows x 4 columns]

1. Visualizzare il numero di allenatori per ogni nazione. Ordinare in ordine decrescente a partire dalla nazione che ha più allenatori.

In [ ]:
coaches.groupby("NOC")["Name"].count().sort_values(ascending = False)

2. Visualizzare il numero di allenatori per ogni  disciplina. Ordinare in ordine decrescente in base alla disciplina in cui ci sono più allenatori

In [ ]:
coaches.groupby("Discipline")["Name"].count().sort_values(ascending = False)

3. Visualizzare il nome della nazione che ha portato più allenatori

In [ ]:
coaches2 = coaches.groupby("NOC").count()
coaches2.loc[coaches2["Name"]==coaches2["Name"].max()]

4.Visualizzare il nome delle nazioni che hanno portato più allenatori rispetto alla media

5.Eliminare la colonna “Name”

In [ ]:
coaches.drop(columns=("Name"), inplace = True)
coaches

6. rinominare la colonna NOC in “Name”

In [ ]:
coaches.rename(columns = {"NOC" : "Name"}, inplace = True)
coaches